<div class="summary">
    <h2>Welcome!</h2>
    <div class="totalBudget">
        Your total budget is: ${{budget}}
    </div>
    <div class="box">
       <h4> Status: {{withinBudget}}</h4><br>
        You have spent {{percentage}}% of your total budget
    </div>
    <app-budget-form></app-budget-form>
    <h3>Category breakdown:</h3>
    <div class="row">
        <tr class="col" *ngFor="let item of categoryBreakdown">
            <td>{{item.category}}: ${{item.amount}}</td>
        </tr>
        <div class="col">
            <div id="summaryChart"></div>
        </div>
    </div>
</div>
  