<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4 mrgnbtm">
        <app-purchases
        *ngIf="purchases.length !== 0" [purchases]="purchases"
        >
        </app-purchases>x
      </div>
    <div class="col-md-7 mrgnbtm">
      <h2>Add Purchase</h2>
      <form method="post" [formGroup]="purchasesForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-12">
              <label for="dateInput">Date</label>
              <input type="date" class="form-control" formControlName="date" id="dateInput" placeholder="Date of purchase">
            </div>
          </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="itemInput">Item</label>
            <input type="text" class="form-control" formControlName="item" id="itemInput" placeholder="Item you purchased">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="amountInput">Amount</label>
            <input type="number" class="form-control" formControlName="amount" id="amountInput" placeholder="The amount you spent">
          </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="storeInput">Store</label>
                <input type="text" class="form-control" formControlName="store" id="storeInput" placeholder="Name of store this item was purchased at">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="categoryInput">Category</label>
                <input type="text" class="form-control" formControlName="category" id="categoryInput" placeholder="Category of purchase">
            </div>
        </div>
        <button type="submit" [disabled]="!purchasesForm.valid" class="btn btn-danger">Create</button>
      </form>
    </div>
  </div>
</div>
