input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
#totalInput {
  width: 45%;
  /* float: right; */
}

#addBudget {
  font-size: 18px;
  float: right;
  width: 25%;
  background-color: #800080;
  color: white;
  padding: 14px 20px;
  margin: 2%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit], button[type=cancel] {
  width: 45%;
  background-color: #800080;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover, button[type=cancel]:hover {
  background-color: #f75af7;
}

button[disabled] {
  opacity: 0.4;
}

button[disabled]:hover {
  opacity: 0.4;
  background-color: #800080;
}

.budgetForm {
  background-color: #f49dff;
  padding: 2%;
  border-radius: 5px;
}

#totalLabel {
  width: 140px; 
}

label {
  display: inline-block;
  text-align: center;
}

#addRow {
  padding-left: 90%;
}

.remainder {
  text-align: center;
  margin-bottom: 2%;
  margin-top: -2%;
  border: 1px solid black;
}
